* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.signup-form {
    background-color:rgba(187, 187, 187, 0.281);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
  }

  .signup-form h2 {
    text-align: center;
    color: #333;
  }

  .signup-form input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .signup-form button {
    background-color: rgba(255, 115, 92, 255);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }

  .signup-form button:hover {
    background-color: rgba(255, 115, 70, 200);
  }